<h1>NOS MARQUES MOBILE & SMARTPHONE :</h1><br><br><br>
<h1>Samsung:</h1><a [routerLink]="['/samsung']">
<img src="..\assets\samsung.png" alt="ss"  width="400" ></a><br><br>

<h1>Apple:</h1>
<a [routerLink]="['/apple']"><img src="..\assets\apple.jpg" alt="s"  width="300"  height="200"></a><br><br>



<h1>Huawei:</h1>
<a [routerLink]="['/huawei']">
<img src="..\assets\huawei-logo.jpg" alt="dddddddddddddd"  width="300"  height="200"></a>


<h1>xiaomi:</h1>
<a [routerLink]="['/xiaomi']">
<img src="..\assets\xiaomi.png" alt="dddddddddddddd"  width="300"  height="200"></a>