
          <div class="col-12"style="margin:2% 0 2% 0">
              <div class="card" >
                  <img [src]="art.photo" class="card-img-top" style="height:400px" alt="...">
                  <div class="card-body">
                    <h4 class="card-title">Libellé : {{art.libelle}}</h4>
                    <p class="card-text">
                      <span><strong>ID: </strong> {{art.identifiant}}</span><br>
                      <span><strong>Prix : </strong> {{art.prix | currency:' '}} TND</span><br>
                      <span><strong>1 anner garantie : </strong>{{agarentie(art.garantie)}}</span><br>
                      <span><strong>Date de fabrication : </strong>{{art.date |date}}</span>
                  </div>
                </div>
              </div> 
              
              <div class="d-flex justify-content-center"><a routerLink="/affichage" class="btn btn-primary" >Tous les article !</a></div>
  
             